<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <p th:text="${response_type}+ '!'" />
    <p th:text="${client_id}+ '!'" />
    <p th:text="${state}+ '!'" />
    <p th:text="${redirect_uri}+ '!'" />
    
    <p th:text="'Hello, ' + ${name} + '!'" />
    <form action="login/" method="post">
    	<input name="username" type="text" />
    	<input name="password" type="text" />
    	
    	<input name="response_type" type="hidden" th:value="${response_type}"/>
    	<input name="client_id" type="hidden" th:value="${client_id}"/>
    	<input name="state" type="hidden" th:value="${state}"/>
    	<input name="redirect_uri" type="hidden" th:value="${redirect_uri}"/>
  		<input type="submit" value="Login"/>
    </form>
</body>
</html>