<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<h2 align="center" style="color: DarkBlue;">Authenticate User</h2>

	<form method="post" action="/login">
		        
		<table align="center">
			<tr>
				<td>User name:</td>
				<td><input type="text" id="username" name="username" />
					                </td>
			</tr>

			<tr>
				<td>Password:</td>
				<td><input type="text" id="password" name="password" />
					                </td>
			</tr>

			<tr>
				<td><input type="submit" value="Login"/></td>
			</tr>

		</table>
		<input name="response_type" type="hidden" th:value="${response_type}"/>
    	<input name="client_id" type="hidden" th:value="${client_id}"/>
    	<input name="state" type="hidden" th:value="${state}"/>
    	<input name="redirect_uri" type="hidden" th:value="${redirect_uri}"/>
  		
	</form>

	<div id="resultDivContainer" align="center"></div>
</body>
</html>